<!-- 
==================================
Basic layout of the "Formular" app 
==================================
-->

{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'formular/assets/hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'formular/css/app.css' %}">

    <title>HPC: Project Requests</title>
  </head>
  
  <body>
    <div class="container-fluid form-step">
      <div class="page-header">
          <h1>HPC Computing Platform: Production Project Request</h1>
      </div>
      
    {% block content %}
    {% endblock %}
    
    </div>
    <script>
    
        /*
      	* Method that verify if any session variable is set for this window and import it 
      	* if no other value have been set.
      	*/
		window.onload = function() {
			try {
    			initOnload({{ wizard.steps.step0 }},loadSessionValues);
			}
			catch(err) {
				loadSessionValues();
			}
		};
	</script>
	
    <script src="{% static 'formular/scripts/importExport.js' %}"></script>
	<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'bower_components/angular-bbp-config/angular-bbp-config.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script src="{% static 'bower_components/angular-hbp-common/dist/angular-hbp-common.js' %}"></script>
    <script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script src="{% static 'bower_components/bbp-oidc-client/angular-bbp-oidc-client.js' %}"></script>
    <script src="{% static 'bower_components/lodash/lodash.js' %}"></script>
    <script src="{% static 'bower_components/marked-hbp/marked.js' %}"></script>
    	
    <script src="{% static 'formular/scripts/app.js' %}"></script>
  </body>
</html>