<!-- 
==========================
Content layout for step 3. 
==========================
-->
{% extends "formular/layout.html" %}
{% load staticfiles %}

{% block content %}
<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: {{ form.title }}</h2>
<form action="" method="post" ng-controller="Step3 as vm">{% csrf_token %}
<table>
{{ wizard.management_form }}
	{% for field in form %}
    	<div class="form-group">
     	   <label>{{ field.label_tag }} </label>
    	    <div style="padding:0px 20px;">{{ field.errors }}<p style="display:none;">{{ field }}</p>
    	    	<input type="hidden" id="id_name_{{ forloop.counter }}"></a>
    	    	<single-user-select></single-user-select>
      		  	{% if field.help_text %}
      		  	<p class="help">{{ field.help_text|safe }}</p>
      		  	{% endif %}
      	  </div>
   		</div>
	{% endfor %}
</table>
<nav class="steps navbar navbar-form navbar-fixed-bottom">
	<input id="initial" type="hidden" value="{{ form.initial}}">
	<button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" onclick="saveValues({{ wizard.steps.step0 }})">First step</button>
	<button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" onclick="saveValues({{ wizard.steps.step0 }})">Previous</button>
	<a class="btn  btn-primary pull-middle" onclick="extract(cleanString(document.getElementById('initial').value));" onclick="saveValues({{ wizard.steps.step0 }})">Save current version</a>
	<input class="btn btn-default" type="submit" value="Next" onclick="saveValues({{ wizard.steps.step0 }})"/>
</nav>
</form>

    
<script>
function initOnload(step,callback) {
	var val = sessionStorage.getItem('2-id_name_1');
	if (val != null && val != undefined && val !=''){
		document.getElementById('id_name_1').value = val;
	}
	var val2 = sessionStorage.getItem('2-id_name_2');
	if (val2 != null && val2 != undefined && val2 !=''){
		document.getElementById('id_name_2').value = val2;
	}
}
</script>

{% endblock %}