<!-- 
==========================
Content layout for step 6. 
==========================
-->
{% extends "formular/layout.html" %}

{% block content %}
<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: {{ form.title }}</h2>
<form action="" method="post"  ng-controller="Step6 as vm">{% csrf_token %}
<div id="info">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-bottom:10px;padding-top:10px;">
	<td style="width:48%; vertical-align:top">
		<label>Human Ressources Summary</label><br>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td style="width:85%; vertical-align:top"><label>Total Person/Month</label> </td> 
				<td style="width:15%;" align="right"><input type="number" disabled id="totalPM" style="width:60px; font-weight: bold"></td> 
			</tr>
		</table>
		<div style="overflow: auto;height:110px; padding-left:10px" id="memberList">
		</div>
	</td>
	<td style="width:2%; vertical-align:top">
	</td>
	<td style="width:2%; vertical-align:top;border-left:1px solid #EEEEEE;">
	</td>
	<td style="width:48%; vertical-align:top">
		<label>Computing Ressources Summary</label><br>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><label>Computing</label></td> 
			</tr>
			<tr>
				<td style="width:85%; vertical-align:top">Total number of runs</td> 
				<td style="width:15%;" align="right"><input type="number" disabled id="runs" style="width:60px; align:right;"></td>
			</tr>
			<tr>
				<td style="width:85%; vertical-align:top">Average partition size (Number of processors)</td> 
				<td style="width:15%;" align="right"><input type="number" disabled id="partition" style="width:60px; align:right;"></td>
			</tr>
			<tr>
				<td style="width:85%; vertical-align:top">Time to solution (Hours)</td> 
				<td style="width:15%;" align="right"><input type="number" disabled id="time" style="width:60px; align:right;"></td>
			</tr>
			<tr>
				<td><label>Storage</label></td> 
			</tr>
			<tr>
				<td style="width:85%; vertical-align:top">Number of artefacts </td> 
				<td style="width:15%;" align="right"><input type="number" disabled id="arte" style="width:60px; align:right;"></td>
			</tr>
			<tr>
				<td style="width:85%; vertical-align:top">Average size of artefacts (GB)</td> 
				<td style="width:15%;" align="right"><input type="number" disabled id="size" style="width:60px; align:right;"></td>
			</tr>
		</table>
	</td>
</table>
<hr>
</div>
<div id="content">
<input type="hidden" id ="id_form_delivrable-TOTAL_FORMS" value=0>
</div>
<input type="button" value="Add More" onclick="addMore('')">
<table>
<input id="id_proposal_wizard-current_step" name="proposal_wizard-current_step" type="hidden" value="5">
</table>

<nav class="steps navbar navbar-form navbar-fixed-bottom">
	<input id="initial" type="hidden" value="{{ form.initial}}">
	<button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" onclick="saveValues({{ wizard.steps.step0 }})">First step</button>
	<button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" onclick="saveValues({{ wizard.steps.step0 }})">Previous</button>
	<a class="btn  btn-primary pull-middle" onclick="extract(cleanString(document.getElementById('initial').value));" onclick="saveValues({{ wizard.steps.step0 }})">Save current version</a>
	<input class="btn btn-default" type="submit" value="Next"  onclick="saveValues({{ wizard.steps.step0 }})"/>
</nav>
</form>

<script>
function initOnload(step,callback) {
	addMembers();
	var i = 1;
	var doc = sessionStorage.getItem("5-id_form_delivrable_1-date");
	if(doc == undefined){
		addMore('delivrable');
	} else {
		while(doc != undefined){
			addMore('delivrable');
			setValue('id_form_delivrable_'+i+'-title');
			setValue('id_form_delivrable_'+i+'-date');
			setValue('id_form_delivrable_'+i+'-description');
			setValue('id_form_delivrable_'+i+'-risk');
			
			setValue('id_form_delivrable_'+i+'-type_prod');
			setValue('id_form_delivrable_'+i+'-type_test');
			setValue('id_form_delivrable_'+i+'-type_devl');
			
			setValue('id_form_delivrable_'+i+'-type_prod-plat_x86');
			setValue('id_form_delivrable_'+i+'-type_prod-plat_bgq');
			setValue('id_form_delivrable_'+i+'-type_prod-plat_gpu');
			setValue('id_form_delivrable_'+i+'-type_prod-hard_vh');
			setValue('id_form_delivrable_'+i+'-type_prod-hard_dh');
			setValue('id_form_delivrable_'+i+'-type_prod_comp');
			setValue('id_form_delivrable_'+i+'-type_prod_comp_runs');
			setValue('id_form_delivrable_'+i+'-type_prod_comp_partition');
			setValue('id_form_delivrable_'+i+'-type_prod_comp_time');
			setValue('id_form_delivrable_'+i+'-type_prod_stor');
			setValue('id_form_delivrable_'+i+'-type_prod_stor_arte');
			setValue('id_form_delivrable_'+i+'-type_prod_stor_size');
			
			setValue('id_form_delivrable_'+i+'-type_test-plat_x86');
			setValue('id_form_delivrable_'+i+'-type_test-plat_bgq');
			setValue('id_form_delivrable_'+i+'-type_test-plat_gpu');
			setValue('id_form_delivrable_'+i+'-type_test-hard_vh');
			setValue('id_form_delivrable_'+i+'-type_test-hard_dh');
			setValue('id_form_delivrable_'+i+'-type_test_comp');
			setValue('id_form_delivrable_'+i+'-type_test_comp_runs');
			setValue('id_form_delivrable_'+i+'-type_test_comp_partition');
			setValue('id_form_delivrable_'+i+'-type_test_comp_time');
			setValue('id_form_delivrable_'+i+'-type_test_stor');
			setValue('id_form_delivrable_'+i+'-type_test_stor_arte');
			setValue('id_form_delivrable_'+i+'-type_test_stor_size');
			
			setValue('id_form_delivrable_'+i+'-type_devl-plat_x86');
			setValue('id_form_delivrable_'+i+'-type_devl-plat_bgq');
			setValue('id_form_delivrable_'+i+'-type_devl-plat_gpu');
			setValue('id_form_delivrable_'+i+'-type_devl-hard_vh');
			setValue('id_form_delivrable_'+i+'-type_devl-hard_dh');
			setValue('id_form_delivrable_'+i+'-type_devl_comp');
			setValue('id_form_delivrable_'+i+'-type_devl_comp_runs');
			setValue('id_form_delivrable_'+i+'-type_devl_comp_partition');
			setValue('id_form_delivrable_'+i+'-type_devl_comp_time');
			setValue('id_form_delivrable_'+i+'-type_devl_stor');
			setValue('id_form_delivrable_'+i+'-type_devl_stor_arte');
			setValue('id_form_delivrable_'+i+'-type_devl_stor_size');
			
			
	    	editLabel('label_d_'+i,'id_form_delivrable_'+i+'-title');
			var j = 0;
			var doc2 = sessionStorage.getItem('5-id_form_delivrable_'+i+'-HR_'+j+'-member');
			while(doc2 != undefined){
				var total = document.getElementById('id_form_delivrable_'+i+'-HR-TOTAL_FORMS').value;
				if(!(j < total)){
					addMore('delivrable_'+i+'-HR');
				}
				setValue('id_form_delivrable_'+i+'-HR_'+j+'-role');
				setValue('id_form_delivrable_'+i+'-HR_'+j+'-pm',0);
				var member =setValue('id_form_delivrable_'+i+'-HR_'+j+'-member');
				if(member!=''){
					updatePM(member,null);
				}
				setValue('id_form_delivrable_'+i+'-HR_'+j+'-description');
				j++;
				doc2 = sessionStorage.getItem('5-id_form_delivrable_'+i+'-HR_'+j+'-member');
			}
			i++;
			doc = sessionStorage.getItem('5-id_form_delivrable_'+i+'-date');
		}
		updateRessources('size');
		updateRessources('time');
		updateRessources('partition');
		updateRessources('arte');
		updateRessources('runs');
	}
    callback.call();
}

function setValue(toSet,defaultValue){
	defaultValue = (typeof defaultValue === 'undefined') ? '' : defaultValue;
	var val = sessionStorage.getItem('5-'+toSet);
	var txt = defaultValue;
	if (val != null && val != undefined && val !=''){
		txt = val;
	}
	try {
		if(document.getElementById(toSet).getAttribute("type")=="checkbox"){
			if(val!=null && val!=undefined && val!=""){
				document.getElementById(toSet).checked = true;
				closeOpen(toSet);
			} else {
				document.getElementById(toSet).checked = false;
				closeOpen(toSet);
			}
			return;
		}
	} catch(err){
	}
	document.getElementById(toSet).value = txt;
	return txt;
}



function addMore(where){
	if(where.indexOf('-')>-1){
		var num =1;
		var roleList = ['Deliverable lead','Technical Lead','Scientific Lead','Developper','Scientist'];
		var people = '<option value="'+sessionStorage.getItem('2-id_name_1')+'">'+sessionStorage.getItem('2-id_name_1')+'</option>';
		if(sessionStorage.getItem('2-id_name_2') != '' && sessionStorage.getItem('2-id_name_2') != undefined){
			people += '<option value="'+sessionStorage.getItem('2-id_name_2')+'">'+sessionStorage.getItem('2-id_name_2')+'</option>';
			num++;
		}
		var i= 1;
		var key = '4-id_form-'+i+'-name';
	
		while (key in sessionStorage){
			people += '<option value="'+sessionStorage.getItem(key)+'">'+sessionStorage.getItem(key)+'</option>';
			i++;
			num++;
			key = '4-id_form-'+i+'-name';
		}
		setSize(num);
	
		var role = '';
		for(k in roleList){
			role += '<option value="'+roleList[k]+'">'+roleList[k]+'</option>';
		}
	
		var form_idx = parseInt(document.getElementById('id_form_'+where+'-TOTAL_FORMS').value);
		var inH = '<select id="id_form_'+where+'_'+form_idx+'-member" onclick="document.getElementById(this.id+\'-old\').value=this.value;" onchange="updatePM(this.value,document.getElementById(this.id+\'-old\').value);" style="width:180px">'+people+'</select><span style="padding-left:40px;"></span><input type="hidden" id="id_form_'+where+'_'+form_idx+'-member-old" value=""><select id="id_form_'+where+'_'+form_idx+'-role" style="width:120px">'+role+'</select><span style="padding-left:40px;"></span><input id="id_form_'+where+'_'+form_idx+'-pm" type="number" value="0" min="0" step="0.1" onchange="updatePM(this.parentNode.getElementsByTagName(\'select\')[0].value,null);" style="width:100px"><span style="padding-left:40px;"></span><input id="id_form_'+where+'_'+form_idx+'-description" type="text" maxlength="150" style="width:200px"><br />';
		
		var newD = document.createElement('div');
		newD.innerHTML= inH;
		newD.style.padding='0px 0px 5px 0px';
	    document.getElementById(where).appendChild(newD);
	    document.getElementById('id_form_'+where+'-TOTAL_FORMS').value = form_idx + 1;
	}
	else {
		var form_idx = parseInt(document.getElementById('id_form_delivrable-TOTAL_FORMS').value)+1;
		var inH = '<img src="/static/formular/images/plus.jpg" style="float:left; padding-right:5px; display:none" id="plus_d_'+form_idx+'" onclick="openD(\'d_'+form_idx+'\')"><img src="/static/formular/images/minus.jpg" style="float:left; padding-right:5px" id="minus_d_'+form_idx+'"  onclick="closeD(\'d_'+form_idx+'\')"><label>Delivrable '+form_idx+' </label><label id="label_d_'+form_idx+'"></label><br><div style="padding-left:20px;"><div id="d_'+form_idx+'">';
		inH += '<input type="hidden" id ="id_form_delivrable_'+form_idx+'-HR-TOTAL_FORMS" value=0><br />';
		inH += '<div style="padding-bottom:10px;"><label style="padding-right:120px;">Title</label><label style="padding-right:120px;">Date</label><label>Dependency</label><br />';
		inH += '<input id="id_form_delivrable_'+form_idx+'-title" type="text" style="height:21px; width:120px;vertical-align:top" onchange="editLabel(\'label_d_'+form_idx+'\',\'id_form_delivrable_'+form_idx+'-title\')" ><span style="padding-left:27px;"></span><input id="id_form_delivrable_'+form_idx+'-date" type="date" style="height:21px; width:120px;vertical-align:top"><span style="padding-left:28px;"></span><select id="id_form_delivrable_'+form_idx+'-dependency"></select></div><br />';
		inH += '<div style="padding-bottom:10px;"><label>Description</label> (max. 150 characters)<br />';
		inH += '<textarea id="id_form_delivrable_'+form_idx+'-description" maxlength="150" rows="1" cols="58"></textarea></div><br />';
		
		inH += '<div style="padding-bottom:10px;"><label >Risks</label> (max. 150 characters)<br />';
		inH += '<textarea id="id_form_delivrable_'+form_idx+'-risk" maxlength="150" rows="1" cols="100" placeholder="External Dependency, ..."></textarea></div>';
		
		inH += '<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-bottom:10px;">';
		inH += '<td style="width:32%; vertical-align:top">';
		
		inH += '<div><input type="checkbox" name="type" value="production" id="id_form_delivrable_'+form_idx+'-type_prod" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_prod\')"> <label>Production</label><br>';
		inH += '<div style="padding-left:10px; display:none"><label>Preferred platform:</label><br />';
		inH += '<div style="padding-left:10px;"><input type="checkbox" name="platform" value="x86" id="id_form_delivrable_'+form_idx+'-type_prod-plat_x86"> x86<br />';
		inH += '<input type="checkbox" name="platform" value="BGQ" id="id_form_delivrable_'+form_idx+'-type_prod-plat_bgq"> Blue Gene/Q<br />';
		inH += '<input type="checkbox" name="platform" value="GPU" id="id_form_delivrable_'+form_idx+'-type_prod-plat_gpu"> GPU<br /></div>';
		
		inH += '<label>Preferred hardware interface:</label><br />';
		inH += '<div style="padding-left:10px;"><input type="checkbox" name="hardware" value="vh" id="id_form_delivrable_'+form_idx+'-type_prod-hard_vh"> Virtualized hardware<br />';
		inH += '<input type="checkbox" name="hardware" value="BGQ" id="id_form_delivrable_'+form_idx+'-type_prod-hard_dh"> Direct hardware<br /></div>';
		
		inH += '<div><input type="checkbox" name="type" value="computing" id="id_form_delivrable_'+form_idx+'-type_prod_comp" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_prod_comp\')"> <label>Computing</label><br>';
		inH += '<div style="padding-left:10px; display:none">Total number of runs <br /><input type="number" onchange="updateRessources(\'runs\')" value="0" id="id_form_delivrable_'+form_idx+'-type_prod_comp_runs" min="0"><br />';
		inH += 'Average partition size (Number of processors) <br /><input type="number" onchange="updateRessources(\'partition\')" value="0" id="id_form_delivrable_'+form_idx+'-type_prod_comp_partition" min="0"><br />';
		inH += 'Time to solution (In hours) <br /><input type="number" onchange="updateRessources(\'time\')" value="0" id="id_form_delivrable_'+form_idx+'-type_prod_comp_time" min="0"></div></div>';
		
		inH += '<div><input type="checkbox" name="type" value="strorage" id="id_form_delivrable_'+form_idx+'-type_prod_stor" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_prod_stor\')"> <label>Storage</label><br>';
		inH += '<div style="padding-left:10px; display:none">Number of artefacts <br /><input type="number" onchange="updateRessources(\'arte\')" onchange="updateRessources(\'arte\')" value="0" id="id_form_delivrable_'+form_idx+'-type_prod_stor_arte" min="0"><br />';
		inH += 'Average size of artefacts (in GB) <br /><input type="number" onchange="updateRessources(\'size\')" value="0" id="id_form_delivrable_'+form_idx+'-type_prod_stor_size" min="0"></div></div></div></div></div><br />';
		
		inH += '</td><td style="width:1%; vertical-align:top"></td><td style="width:1%; vertical-align:top;border-left:1px solid #EEEEEE;"></td>';
		inH += '<td style="width:32%; vertical-align:top">';
		
		inH += '<div><input type="checkbox" name="type" value="testing" id="id_form_delivrable_'+form_idx+'-type_test" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_test\')"> <label>Testing</label><br>';
		inH += '<div style="padding-left:10px; display:none"><label>Preferred platform:</label><br />';
		inH += '<div style="padding-left:10px;"><input type="checkbox" name="platform" value="x86" id="id_form_delivrable_'+form_idx+'-type_test-plat_x86"> x86<br />';
		inH += '<input type="checkbox" name="platform" value="BGQ" id="id_form_delivrable_'+form_idx+'-type_test-plat_bgq"> Blue Gene/Q<br />';
		inH += '<input type="checkbox" name="platform" value="GPU" id="id_form_delivrable_'+form_idx+'-type_test-plat_gpu"> GPU<br /></div>';
		
		inH += '<label>Preferred hardware interface:</label><br />';
		inH += '<div style="padding-left:10px;"><input type="checkbox" name="hardware" value="x86" id="id_form_delivrable_'+form_idx+'-type_test-hard_vh"> Virtualized hardware<br />';
		inH += '<input type="checkbox" name="hardware" value="BGQ" id="id_form_delivrable_'+form_idx+'-type_test-hard_dh"> Direct hardware<br /></div>';
		
		inH += '<div><input type="checkbox" name="type" value="computing" id="id_form_delivrable_'+form_idx+'-type_test_comp" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_test_comp\')"> <label>Computing</label><br>';
		inH += '<div style="padding-left:10px; display:none">Total number of runs <br /><input type="number" onchange="updateRessources(\'runs\')" value="0" id="id_form_delivrable_'+form_idx+'-type_test_comp_runs" min="0"><br />';
		inH += 'Average partition size (Number of processors) <br /><input type="number" onchange="updateRessources(\'partition\')" value="0" id="id_form_delivrable_'+form_idx+'-type_test_comp_partition" min="0"><br />';
		inH += 'Time to solution (In hours) <br /><input type="number" onchange="updateRessources(\'time\')" value="0" id="id_form_delivrable_'+form_idx+'-type_test_comp_time" min="0"></div></div>';
		
		inH += '<div><input type="checkbox" name="type" value="strorage" id="id_form_delivrable_'+form_idx+'-type_test_stor" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_test_stor\')"> <label>Storage</label><br>';
		inH += '<div style="padding-left:10px; display:none">Number of artefacts <br /><input type="number" onchange="updateRessources(\'arte\')" onchange="updateRessources(\'arte\')" value="0" id="id_form_delivrable_'+form_idx+'-type_test_stor_arte" min="0"><br />';
		inH += 'Average size of artefacts (in GB) <br /><input type="number" onchange="updateRessources(\'size\')" value="0" id="id_form_delivrable_'+form_idx+'-type_test_stor_size" min="0"></div></div></div></div></div><br />';
		
		inH += '</td><td style="width:1%; vertical-align:top"></td><td style="width:1%; vertical-align:top;border-left:1px solid #EEEEEE;"></td>';
		
		inH += '<td style="width:32%; vertical-align:top">';
		
		inH += '<div><input type="checkbox" name="type" value="development" id="id_form_delivrable_'+form_idx+'-type_devl" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_devl\')"> <label>Development</label><br>';
		inH += '<div style="padding-left:10px; display:none"><label>Preferred platform:</label><br />';
		inH += '<div style="padding-left:10px;"><input type="checkbox" name="platform" value="1" id="id_form_delivrable_'+form_idx+'-type_devl-plat_x86"> x86<br />';
		inH += '<input type="checkbox" value="2" id="id_form_delivrable_'+form_idx+'-type_devl-plat_bgq"> Blue Gene/Q<br />';
		inH += '<input type="checkbox" id="id_form_delivrable_'+form_idx+'-type_devl-plat_gpu"> GPU<br /></div>';
		
		inH += '<label>Preferred hardware interface:</label><br />';
		inH += '<div style="padding-left:10px;"><input type="checkbox" name="hardware" value="x86" id="id_form_delivrable_'+form_idx+'-type_devl-hard_vh"> Virtualized hardware<br />';
		inH += '<input type="checkbox" name="hardware" value="BGQ" id="id_form_delivrable_'+form_idx+'-type_devl-hard_dh"> Direct hardware<br /></div>';
		
		inH += '<div><input type="checkbox" name="type" value="computing" id="id_form_delivrable_'+form_idx+'-type_devl_comp" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_devl_comp\')"> <label>Computing</label><br>';
		inH += '<div style="padding-left:10px; display:none">Total number of runs <br /><input type="number" onchange="updateRessources(\'runs\')" value="0" id="id_form_delivrable_'+form_idx+'-type_devl_comp_runs" min="0"><br />';
		inH += 'Average partition size (Number of processors) <br /><input type="number" onchange="updateRessources(\'partition\')" value="0" id="id_form_delivrable_'+form_idx+'-type_devl_comp_partition" min="0"><br />';
		inH += 'Time to solution (In hours) <br /><input type="number" onchange="updateRessources(\'time\')" value="0" id="id_form_delivrable_'+form_idx+'-type_devl_comp_time" min="0"></div></div>';
		
		inH += '<div><input type="checkbox" name="type" value="strorage" id="id_form_delivrable_'+form_idx+'-type_devl_stor" onchange="closeOpen(\'id_form_delivrable_'+form_idx+'-type_devl_stor\')"> <label>Storage</label><br>';
		inH += '<div style="padding-left:10px; display:none">Number of artefacts <br /><input type="number" onchange="updateRessources(\'arte\')" onchange="updateRessources(\'arte\')" value="0" id="id_form_delivrable_'+form_idx+'-type_devl_stor_arte" min="0"><br />';
		inH += 'Average size of artefacts (in GB) <br /><input type="number" onchange="updateRessources(\'size\')" value="0" id="id_form_delivrable_'+form_idx+'-type_devl_stor_size" min="0"></div></div></div></div></div><br />';
		inH += '</td></table>';		
		
		inH += '<div id="delivrable_'+form_idx+'-HR"><label style="padding-right:175px;">Member</label><label style="padding-right:130px;">Role</label><label style="padding-right:53px;">Person/Month</label><label>Description</label></div><input type="button" value="Add More" onclick="addMore(\'delivrable_'+form_idx+'-HR\')"><hr /><br /></div>';
		
		var newD = document.createElement('div');
		newD.innerHTML= inH;
	    document.getElementById('content').appendChild(newD);
	    document.getElementById('id_form_delivrable-TOTAL_FORMS').value = form_idx ;
	    
	    if(form_idx==1){
	    	document.getElementById('id_form_delivrable_'+form_idx+'-dependency').innerHTML ='<option value="0">None</option>';
	    } else {
	    	document.getElementById('id_form_delivrable_'+form_idx+'-dependency').innerHTML = document.getElementById('id_form_delivrable_1-dependency').innerHTML;
	    }
	    
	    updateDependency(0,'Delivrable '+form_idx);
		
		addMore('delivrable_'+form_idx+'-HR');
	}
}

function addMembers(){
	var people = '<table border="0" cellpadding="0" cellspacing="0" width="100%">';
	people += '<tr><td style="width:85%; vertical-align:top">' + sessionStorage.getItem('2-id_name_1')+'</td><td style="width:15%;" align="right"> <input type="number" disabled id="'+sessionStorage.getItem('2-id_name_1')+'" style="width:60px; align:right;" value="0" ></td></tr>';
	if(sessionStorage.getItem('2-id_name_2') != '' && sessionStorage.getItem('2-id_name_2') != undefined){
		people += '<tr><td style="width:85%; vertical-align:top">' + sessionStorage.getItem('2-id_name_2')+'</td><td style="width:15%;" align="right"> <input type="number" disabled id="'+sessionStorage.getItem('2-id_name_2')+'" style="width:60px; align:right;" value="0" ></td></tr>';
	}
	var i= 1;
	var key = '4-id_form-'+i+'-name';
	
	while (key in sessionStorage){
		people += '<tr><td style="width:85%; vertical-align:top">' + sessionStorage.getItem(key)+'</td><td style="width:15%;" align="right"> <input type="number" disabled id="'+sessionStorage.getItem(key)+'" style="width:60px; align:right;" value="0" ></td></tr>';
		i++;
		key = '4-id_form-'+i+'-name';
	}
	people +='</table>';
	document.getElementById('memberList').innerHTML = people;
}

function updateRessources(type){
	var total = 0;
	var i = 1;
	var temp = document.getElementById('id_form_delivrable_'+i+'-type_devl_comp_'+type);
	while(temp != undefined){
		total += parseInt(temp.value) + parseInt(document.getElementById('id_form_delivrable_'+i+'-type_test_comp_'+type).value) + parseInt(document.getElementById('id_form_delivrable_'+i+'-type_prod_comp_'+type).value) ;
		i++;
		temp = document.getElementById('id_form_delivrable_'+i+'-type_devl_comp_'+type);
	}
	document.getElementById(type).value = total;
}

function updatePM(name,old){
	var total = 0;
	var i=1;
	var counter = 0;
	var tmp = document.getElementById('id_form_delivrable_'+i+'-HR_0-member');
	while(tmp != undefined){
		var j=0;
		var temp = document.getElementById('id_form_delivrable_'+i+'-HR_'+j+'-member');
		while(temp != undefined){
			if(temp.value == name){
				total += parseFloat(document.getElementById('id_form_delivrable_'+i+'-HR_'+j+'-pm').value);
			}
			j++;
			temp = document.getElementById('id_form_delivrable_'+i+'-HR_'+j+'-member');
		}
		i++;
		tmp = document.getElementById('id_form_delivrable_'+i+'-HR_0-member');
	}
	document.getElementById(name).value = total;
	if(old!=null && old!=undefined && old!="" ){
		updatePM(old,null);
	}
	updateTotal();
}

function updateTotal(){
	var arrayInput = document.getElementById('memberList').getElementsByTagName('input');
	var total = 0;
	for(var i= 0; i<arrayInput.length;i++){
		var val = parseFloat(arrayInput[i].value);
		total += val;
	}
	document.getElementById('totalPM').value = total;
}

function closeD(deli){
	document.getElementById(deli).style.display = "none";
	document.getElementById('minus_'+deli).style.display = "none";
	document.getElementById('plus_'+deli).style.display = "";
}

function openD(deli){
	document.getElementById(deli).style.display = "";
	document.getElementById('minus_'+deli).style.display = "";
	document.getElementById('plus_'+deli).style.display = "none";
}

function closeOpen(checkBox){
	var cb = document.getElementById(checkBox);
	var cN = cb.parentNode.childNodes[4];
	if(cN == null || cN == undefined){
		return;
	}
	if(cb.checked){
		cN.style.display = "";
	} else {
		cN.style.display = "none";
	}
}

function editLabel(label,val){
	document.getElementById(label).innerHTML = ' - '+document.getElementById(val).value;
}

function updateDependency(num,name){
	var i = 1;
	var key='id_form_delivrable_'+i+'-dependency';
	if (num == 0){
		var sel = document.getElementById(key);
		while(sel!=null && sel!=undefined){
			var slected = sel.options[sel.selectedIndex].value;
			sel.innerHTML = sel.innerHTML + '<option value="'+name.substring(11)+'">'+name+'</option>';
			sel.options[slected].selected = true;
			i++;
			key='id_form_delivrable_'+i+'-dependency';
			sel = document.getElementById(key);
		}
	}
}

function setSize(size){
	var s = document.getElementById('totalPM').style.width;
	var toSet = '60px';
	if(size >5){
		toSet = '75px';
	}
	if(s!=toSet){
		document.getElementById('totalPM').style.width = toSet;
	}
}


</script>

{% endblock %}