{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'formular/assets/hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'formular/css/app.css' %}">

    <title>HPC: Project Requestssss</title>
  </head>
  
  <body>
    <div class="container-fluid form-step">
      <div class="page-header">
          <h1>HPC Computing Platform: Production Project Request</h1>
      </div>
		{{ wizard.management_form }}

{% block content %}
<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: {{ form.title }}</h2>
<form action="" method="post">{% csrf_token %}
<table>
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
    	{% block form_if %}

		<div class="form-group">
			<label>{{ form.field.label }}</label></p>
			{{ form.field|add_class:"form-control" }}
		    <p class="error">
 		       {% if form.field.errors %}
 		           {% for error in form.field.errors %}
 		               {{ error }}
 		           {% endfor %}
 		       {% endif %}
			</p>
		<div>      
		{% endblock %}
    {% endfor %}
{% else %}
	{% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        <label>{{ field.label_tag }} </label>
        <div style="padding:0px 20px;"><p>{{ field }}</p>
        	{% if field.help_text %}
        	<p class="help">{{ field.help_text|safe }}</p>
        	{% endif %}
        </div>
    </div>
{% endfor %}

{% endif %}
</table>
<nav class="steps navbar navbar-form navbar-fixed-bottom">
{% if wizard.steps.prev %}
<button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First step</button>
<button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
{% endif %}
<input class="btn btn-default" type="submit" value="Next"/>
</nav>
</form>
{% endblock %}
    </div>
  </body>
</html>