{% load staticfiles %}
{% load widget_tweaks %}
{% load form_extras %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'formular/assets/hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'formular/css/app.css' %}">

    <title>HPC: Project Requests</title>
  </head>
  
  <body>
    <div class="container-fluid form-step">
      <div class="page-header">
          <h1>HPC Computing Platform: Production Project Request</h1>
      </div>

{% block content %}
<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: {{ form.title }}</h2>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
    	{% block form_if %}

		<div class="form-group">
			<label>{{ form.field.label }}</label></p>
			{{ form.field|add_class:"form-control" }}
		    <p class="error">
 		       {% if form.field.errors %}
 		           {% for error in form.field.errors %}
 		               {{ error }}
 		           {% endfor %}
 		       {% endif %}
			</p>
		<div>      
		{% endblock %}
    {% endfor %}
{% else %}
	{% for field in form %}
		{% if field.field.widget|klass == "CheckboxInput" %}
			{% if field.label_tag|length < 100 %}
				</div>
    			<div class="form-group">
     	   			<h3>{{ field }} {{ field.label_tag }}</h3>
    	    		<div style="padding:0px 20px;">
      		  			<p class="help">{{ field.help_text|safe }}</p>
      	  			</div>
   				</div>
      	  		<div style="padding:0px 40px;">
      	  	{% else %}
    			<div class="form-group">
     	   			<p>{{ field }} {{ field.label_tag }}</p>
    	    		<div style="padding:0px 20px;">
      		  			<p class="help">{{ field.help_text|safe }}</p>
      	  			</div>
   				</div>
    		{% endif %}
    	{% else %}
    	<div class="form-group">
     	   <label>{{ field.label_tag }} </label>
    	    <div style="padding:0px 20px;">{{ field.errors }}<p>{{ field }}</p>
      		  	{% if field.help_text %}
      		  	<p class="help">{{ field.help_text|safe }}</p>
      		  	{% endif %}
      	  </div>
   		</div>
   		{% endif %}
{% endfor %}
{% endif %}
</table>
<nav class="steps navbar navbar-form navbar-fixed-bottom">
	{% if wizard.steps.prev %}
	<input id="initial" type="hidden" value="{{ form.initial}}">
	<button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First step</button>
	<button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
	<a class="btn  btn-primary pull-middle" onclick="extract(cleanString(document.getElementById('initial').value));">Save current version</a>
	{% endif %}
	<a class="btn  btn-primary pull-centered" onclick="document.getElementById('load').click();">Load previous version</a>
	<input id="load" type="file" name="load" style="display: none;" onchange="importOld();" />
	<input class="btn btn-default" type="submit" value="Next"/>
</nav>
</form>
{% endblock %}
    </div>
      	<script>
      	/*
      	* Method that verify if any session variable is set for this window and import it 
      	* if no other value have been set.
      	*/
		window.onload = function() {
			for (var k in sessionStorage){
    			if (k.charAt(0)=={{ wizard.steps.step0 }}) {
         			var field = document.getElementById('id_' + k);
         			if(field.value == "" || field.value == undefined){
         				field.value = sessionStorage.getItem(k);
         			}
    			}
			}
		};
      	
      	
      	/*	
      	*	Getting rid of all the ugly characters and of the fields that we don't need 
      	*	such as the sessionId.
      	*	
      	*	Input:
      	*		str: 	String to clean.
      	*
      	*	Return:
      	*		The cleaned version of the input string.
      	*/
      	function cleanString(str)
      	{
      		var clean = str.replace(/{u'/g,"{'");
      		clean = clean.replace(/\[u'/g,"['");
      		clean = clean.replace(/, u'/g,", '");
      		clean = clean.replace(/<MultiValueDict: /g,"");
      		clean = clean.replace(/'csrfmiddlewaretoken': \[[^\]]*\],/,"");
      		clean = clean.replace(/'proposal_wizard-current_step': \['[0-9]*'\]}>,/,"");
      		return clean;
      	}
      	
      	/*	
      	*	Creating a file containing some specified text and a link to that file in  
      	*	order to download it.
      	*	
      	*	Input:
      	*		textToWrite: 	The desired content of the file to download.
      	*/
      	function extract(textToWrite)
		{
      		var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
			var fileNameToSaveAs = "ProjectProposal.txt";

			var downloadLink = document.createElement("a");
			downloadLink.download = fileNameToSaveAs;
			if (window.URL != null)
			{
				// Chrome allows the link to be clicked
				// without actually adding it to the DOM.
				downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
			}
			else
			{
				// Firefox requires the link to be added to the DOM
				// before it can be clicked.
				downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
				downloadLink.onclick = destroyClickedElement;
				downloadLink.style.display = "none";
				document.body.appendChild(downloadLink);
			}
			downloadLink.click();
		}
		
		/*	
		*	Function to fill the form by using an imported file.
		*/
		function importOld()
		{
			var filePath = document.getElementById('load');
			var fileToLoad = filePath.files[0];

			var fileReader = new FileReader();
			fileReader.onload = function(fileLoadedEvent) 
			{
				var textFromFileLoaded = fileLoadedEvent.target.result;
				copyToSession(textFromFileLoaded);
				alert('The file was successfully imported');
			};
			fileReader.readAsText(fileToLoad, "UTF-8");
		}

		/*
		* 	Look for the specified key and return the value associated.
		*
		* 	Input:
		*		val:	Key to look for.
		*		txt:	String in which the function should look for the key.
		*
		*	Return:
		*		The value associated to the key.
		*/
		function getValueOf(val,txt)
		{
			var pos = 0;
			var result = "";
			var lookFor = "'"+ val +"': ['";
			if(txt.indexOf(lookFor) > -1){
				var temp = "";
				pos = txt.indexOf(lookFor) + lookFor.length;
				while(txt.charAt(pos) != "'" && txt.charAt(pos+1) != "]"){
					temp += txt.charAt(pos);
					pos ++;
				}
				result = temp;
			} 
			return result;
		}
		
		/*
		* 	Look for the next useful key of the format "[0-9]-[]"
		*
		* 	Input:
		*		pos:	Position where to start the look up.
		*		txt:	String in which the function should look for the key.
		*
		*	Return:
		*		The next key.
		*/
		function getNextKey(posi,txt)
		{	
			var pos = posi;
			var found = false;
			var result = "";
			while (!found || pos== txt.length) {
				var lookFor = "'";
				var temp = "";
				
				if(txt.indexOf(lookFor,pos) > -1){
					pos = txt.indexOf(lookFor,pos) + lookFor.length;
					while(txt.charAt(pos) != "'" || pos== txt.length){
						temp += txt.charAt(pos);
						pos ++;
					}
					if(temp.indexOf("-") == 1){
						result = temp;
						found = true;
					}
					pos ++;
				}
				else {
					found = true;
				} 
			}
			return [result,pos];
		}

		/*
		* 	Get the values out of the JSON text and create the associated session variables.
		*
		* 	Input:
		*		txt:	The JSON to transform into session variables.
		*/
		function copyToSession(txt)
		{
			pos = 0;
			while (true) {
				keyArray = getNextKey(pos,txt);
				key = keyArray[0];
				if(key == "" || key == undefined){
					break;
				}
				pos = keyArray[1];
				val = getValueOf(key,txt);
				sessionStorage.setItem(key,val);
			}
		}
    	</script>
  </body>
</html>